{% if paginator.total_pages > 1 %}
<nav class="d-flex flex-justify-around" role="navigation" aria-label="Blog navigation">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous blog:">&laquo; Prev</a>
  {% else %}
    <span aria-label="Previous blog:">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em aria-label="Go to page {{ page }}" aria-current="page">{{ page }}</em>
    {% elsif page == 1 %}
      <a aria-label="Go to page {{ page }}" href="{{ site.paginate_path | relative_url | replace: 'page/:num/', '' }}">{{ page }}</a>
    {% else %}
      <a aria-label="Go to page {{ page }}" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" aria-label="Next post:">Next &raquo;</a>
  {% else %}
    <span aria-label="Next post:">Next &raquo;</span>
  {% endif %}
</nav>
{% endif %}
