---
layout: default
---

<article class="post" role="article" aria-labelledby="post-title">
  <nav class="d-flex flex-justify-between" role="navigation" aria-label="Post navigation">
    {% if page.previous %}
      <a class="prev" aria-label="Previous post:" href="{{ site.baseurl }}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next %}
      <a class="next" aria-label="Next post:" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
    {% endif %}
  </nav>
  <h1 id="post-title">{{ page.title }}</h1>
  <p class="post-meta" aria-label="Post meta">
    {{ page.date | date: "%b %-d, %Y" }}
    {% if page.author %} • {{ page.author }}{% endif %}
    {% if page.meta %} • {{ page.meta }}{% endif %}
  </p>
  <section role="region" aria-label="Post content">
    {{ content }}
  </section>
</article>
